body {
  position: relative; /*wasn't planning to add this but apparently scroll spy required this*/
}

/*
  Background-color Color 1
  Main color: #3498DB
  Alt color: #00CDCD;
*/
.navbar, .active a, #home-screen {
  background-color: #3498DB !important;
}

/* Background-color Color 2 */



/*
----------------------------------
NAVIGATION
---------------------
*/
.navbar {
  border: 0;
  margin: 0;
}

.navbar-brand {
  color: #2471A3 !important; /*override gray color of navbar-brand text color*/
  color: white !important;
  font-weight: bold;
  font-size: 1.8em;
}

.navbar-nav li a {
  font-weight: bold;

}

.navbar-nav li : hover {
  color: white !important;
  background-color: white !important;
}

.active a {
  color: #3498DB !important;
  background-color: white !important;
}

.vertical-center {
  display: inline-block;

}

/* HOME SCREEN */

#home-screen {

}

#home-screen .row {
  vertical-align: middle;
  margin: 5%;
}

#home-screen h1, h2 {
  color: #FFF8DC;
}

#profile-pic {
  height: 40%;
}
