.error
{
	color: red;
}



/*For navigation bar*/
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 


/*For search-box*/
.navTab{
	position:relative; 
	padding:6px 6px 6px 6px;
}

.playOptions{
	position:relative; 
	padding:6px 6px 6px 6px;
}


#rightDiv{
	padding-top: 35px;
	padding-left: 30px;
	display: inline-block;	
	/*position: relative;
	left: 33%;
	float: left;*/
	float: right;
	overflow-y: scroll;
}


#urDiv{
	/*position: relative;
	float: left;
	left: -50%;*/
}

#drDiv{
	/*position: relative;
	float: left;
	left: -50%;*/
}

#leftDiv{
	float: left;
	display: inline-block;
	overflow-y: hidden;
	position: absolute;
}

#leftDiv:hover{
	overflow-y: auto;
}

#ytplayer{
	margin: 0 auto;
}


thumbnail, videoInfo{
	display:inline;
}