.error
{
	color: red;
}



/*For navigation bar*/
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 


/*For search-box*/
.navTab{
	position:relative; 
	padding:6px 6px 6px 6px;
}

thumbnail, videoInfo{
	display:inline;
}