.error
{
	color: red;
}



/*For navigation bar*/
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
} 

/*For loopDiv bar*/
.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 12;  
    z-index: 100;  
    border-top: 0;  
} 



/*For search-box*/

.nav{
	width: 90%
}

.navTab{
	position:relative; 
	padding:10px 10px 10px 10px;
}

.playOptions{
	position:relative; 
	padding:10px 10px 10px 10px;
}


#rightDiv{
	padding-top: 35px;
	padding-left: 10px;
	display: inline-block;	
	/*position: relative;
	left: 33%;
	float: left;*/
	float: right;
	width: 50%
	
}


#urDiv{
	/*position: relative;
	float: left;
	left: -50%;*/
}

#drDiv{
	padding-top: 20px;
	
	/*position: relative;
	float: left;
	left: -70%;*/
}

#leftDiv{
	padding-top: 20px;
	padding-left: 20px;
	float: left;
	display: inline-block;
	height: 350px;
	width: 30%;
}


#loopMain{
	overflow-y: hidden;
	height: 100%;
}

#loopMain:hover{
	overflow-y: auto;
}


#ytplayer{
	margin: 0 auto;
}


thumbnail, videoInfo{
	display:inline;
}